* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Typography styles */
strong {
  color: hsl(160deg, 100%, 30%);
}

h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}

h2 {
  font-size: 1.5rem;
}

.title,
.indented-heading {
  font-weight: 900;
}

/* Layout styles */

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.intro-chunk p {
  width: fit-content;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 70px;
}

.intro-chunk,
.card {
  padding: 30px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  padding: 15px;
  margin-left: -40px;
  margin-top: 0;
  width: fit-content;
}

@media (min-width: 550px) {
  .max-width-wrapper {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .intro-chunk p {
    width: fit-content;
  }

  main {
    background-color: hsl(0deg, 0%, 60%);
    padding: 70px;
  }

  .intro-chunk,
  .card {
    padding: 30px;
  }

  .card {
    background-color: hsl(0deg, 0%, 100%);
  }

  .indented-heading {
    background-color: hsl(45deg, 100%, 50%);
    padding: 15px;
    margin-left: -40px;
    margin-top: 0;
    width: fit-content;
  }
}
